Source: lm-sensors
Section: utils
Priority: extra
Build-Depends: bison, flex, librrd2-dev, libsysfs-dev (>= 2.0.0), gcc-3.3, debhelper (>= 4.1.16), i2c-source (>= 1:2.10.0) [i386], kernel-build-2.4.27-2 [i386]
Build-Depends-Indep: debhelper (>> 4.0.0), dh-kpatches (>= 0.99.27), perl, bzip2, kernel-patch-2.4-i2c (>= 2.10.0), kernel-source-2.4.27
Maintainer: Aurelien Jarno <aurel32@debian.org>
Standards-Version: 3.6.2

Package: lm-sensors
Architecture: any
Section: utils
Depends: makedev (>= 2.3.1-45) | devfsd,  ucf (>= 0.28), sysvinit (>= 2.85-19), sed (>= 4.0.5-1), ${misc:Depends}, ${shlibs:Depends}, ${perl:Depends}
Recommends: linux-image-2.6 | kernel-image-2.6 | lm-sensors-mod-2.10
Suggests: linux-image-2.6 | kernel-image-2.6 | lm-sensors-source, linux-image-2.6 | kernel-image-2.6 | i2c-source, sensord, read-edid
Description: utilities to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains programs to help you set up and read data from
 lm-sensors.
 .
 You will need lm-sensors and i2c kernel modules to use this package.
 For 2.4 kernels, this requires either installing prebuild modules or
 building them using the lm-sensors-source package. For 2.6 kernels,
 use the modules that are already in the kernel tree.
 .
  Homepage: http://www.lm-sensors.nu

Package: libsensors3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Priority: optional
Suggests: lm-sensors, linux-image-2.6 | kernel-image-2.6 | lm-sensors-mod-2.10
Section: libs
Description: library to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains a shared library for querying lm-sensors.
 .
  Homepage: http://www.lm-sensors.nu

Package: libsensors-dev
Architecture: any
Depends: libsensors3 (= ${Source-Version}), ${misc:Depends}
Conflicts: libsensors3 (<= 2.8.6-1)
Section: libdevel
Description: lm-sensors development kit
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains the static library and header files used in
 development.
 .
  Homepage: http://www.lm-sensors.nu

Package: sensord
Architecture: any
Section: utils
Depends: lm-sensors, ${shlibs:Depends}, ${misc:Depends}
Replaces: lm-sensors (<< 2.5.4-8)
Description: hardware sensor information logging daemon
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains a daemon that logs hardware health status to the
 system log with optional warnings on potential system problems.
 .
 You will need lm-sensors and i2c kernel modules to use this package.
 For 2.4 kernels, this requires either installing prebuild modules or
 building them using the lm-sensors-source package. For 2.6 kernels,
 use the modules that are already in the kernel tree.
 .
  Homepage: http://www.lm-sensors.nu

Package: kernel-patch-2.4-lm-sensors
Architecture: all
Section: devel
Depends: ${kpatch:Depends}, ${misc:Depends}, kernel-patch-2.4-i2c (>= 2.10.0)
Suggests: kernel-package, kernel-source-2.4
Description: drivers to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This patch contains the latest available lm-sensors drivers for 2.4 kernels.
 .
 WARNING: This package is only useful for 2.4 kernels. For 2.6 kernels,
 use the modules that are already in the kernel tree.
 .
  Homepage: http://www.lm-sensors.nu

Package: lm-sensors-source
Section: misc
Architecture: all
Depends: i2c-source (>= 1:2.10.0), debhelper (>= 4.0), module-assistant, bison, flex | flex-old, gcc-3.3
Description: kernel drivers to read temperature/voltage/fan sensors (source)
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains the source for kernel modules that are necessary to
 access the data. You will also need to install the i2c-source package and
 build modules from that.
 .
 The 2.4 kernel sources must be installed to compile these modules. This
 package won't build modules for 2.6 kernels. Instead use the modules that
 are already in the kernel tree.
 .
  Homepage: http://www.lm-sensors.nu

Package: lm-sensors-2.4.27-2-386
Architecture: i386
Provides: lm-sensors-mod-2.10
Depends: kernel-image-2.4.27-2-386, i2c-2.4.27-2-386 (>= 1:2.10.0)
Conflicts: libsensors3 (<< 2.8.6-8), i2c-2.4.27-2-386 (<< 2.9.0-13)
Recommends: lm-sensors (>= 2.8.6-9)
Description: kernel drivers to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains the drivers, compiled for linux kernel
 2.4.27-2-386. It requires the matching i2c module package.
 .
  Homepage: http://www.lm-sensors.nu

Package: lm-sensors-2.4.27-2-586tsc
Architecture: i386
Provides: lm-sensors-mod-2.10
Depends: kernel-image-2.4.27-2-586tsc, i2c-2.4.27-2-586tsc (>= 1:2.10.0)
Conflicts: libsensors3 (<< 2.8.6-8), i2c-2.4.27-2-586tsc (<< 2.9.0-13)
Recommends: lm-sensors (>= 2.8.6-9)
Description: kernel drivers to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains the drivers, compiled for linux kernel
 2.4.27-2-586tsc. It requires the matching i2c module package.
 .
  Homepage: http://www.lm-sensors.nu

Package: lm-sensors-2.4.27-2-686
Architecture: i386
Provides: lm-sensors-mod-2.10
Depends: kernel-image-2.4.27-2-686, i2c-2.4.27-2-686 (>= 1:2.10.0)
Conflicts: libsensors3 (<< 2.8.6-8), i2c-2.4.27-2-686 (<< 2.9.0-13)
Recommends: lm-sensors (>= 2.8.6-9)
Description: kernel drivers to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains the drivers, compiled for linux kernel
 2.4.27-2-686. It requires the matching i2c module package.
 .
  Homepage: http://www.lm-sensors.nu

Package: lm-sensors-2.4.27-2-686-smp
Architecture: i386
Provides: lm-sensors-mod-2.10
Depends: kernel-image-2.4.27-2-686-smp, i2c-2.4.27-2-686-smp (>= 1:2.10.0)
Conflicts: libsensors3 (<< 2.8.6-8), i2c-2.4.27-2-686-smp (<< 2.9.0-13)
Recommends: lm-sensors (>= 2.8.6-9)
Description: kernel drivers to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains the drivers, compiled for linux kernel
 2.4.27-2-686-smp. It requires the matching i2c module package.
 .
  Homepage: http://www.lm-sensors.nu

Package: lm-sensors-2.4.27-2-k6
Architecture: i386
Provides: lm-sensors-mod-2.10
Depends: kernel-image-2.4.27-2-k6, i2c-2.4.27-2-k6 (>= 1:2.10.0)
Conflicts: libsensors3 (<< 2.8.6-8), i2c-2.4.27-2-k6 (<< 2.9.0-13)
Recommends: lm-sensors (>= 2.8.6-9)
Description: kernel drivers to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains the drivers, compiled for linux kernel
 2.4.27-2-k6. It requires the matching i2c module package.
 .
  Homepage: http://www.lm-sensors.nu

Package: lm-sensors-2.4.27-2-k7
Architecture: i386
Provides: lm-sensors-mod-2.10
Depends: kernel-image-2.4.27-2-k7, i2c-2.4.27-2-k7 (>= 1:2.10.0)
Conflicts: libsensors3 (<< 2.8.6-8), i2c-2.4.27-2-k7 (<< 2.9.0-13)
Recommends: lm-sensors (>= 2.8.6-9)
Description: kernel drivers to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains the drivers, compiled for linux kernel
 2.4.27-2-k7. It requires the matching i2c module package.
 .
  Homepage: http://www.lm-sensors.nu

Package: lm-sensors-2.4.27-2-k7-smp
Architecture: i386
Provides: lm-sensors-mod-2.10
Depends: kernel-image-2.4.27-2-k7-smp, i2c-2.4.27-2-k7-smp (>= 1:2.10.0)
Conflicts: libsensors3 (<< 2.8.6-8), i2c-2.4.27-2-k7-smp (<< 2.9.0-13)
Recommends: lm-sensors (>= 2.8.6-9)
Description: kernel drivers to read temperature/voltage/fan sensors
 Lm-sensors is a hardware health monitoring package for Linux. It allows you
 to access information from temperature, voltage, and fan speed sensors. It
 works with most newer systems.
 .
 This package contains the drivers, compiled for linux kernel
 2.4.27-2-k7-smp. It requires the matching i2c module package.
 .
  Homepage: http://www.lm-sensors.nu
