#!/bin/sh -e
# libusb configuration script

# Source debconf library -- we have a Depends line
# to make sure it is there...
. /usr/share/debconf/confmodule
db_version 2.0

if [ "$1" = configure ] || [ "$1" = reconfigure ] ; then
	if uname -r | grep -E -q '^2.6.[0-4]([^0-9]|$)' ; then
		db_input medium libsensors3/old2.6kernel || true
		db_go
	fi

	if uname -r | grep -q '^2.4' ; then
		if [ ! -d "/proc/sys/dev/sensors" ]  \
		   && [ ! -f "/lib/modules/`uname -r`/i2c/i2c-proc.o" ] \
		   && [ -f "/lib/modules/`uname -r`/kernel/drivers/i2c-proc.o" ] \
		  ; then
			db_input medium libsensors3/nosensors_2.4 || true
			db_go
		fi
	fi

	if uname -r | grep -q '^2.6' ; then
		if [ ! -d "/sys/bus/i2c" ] \
		   && [ ! -f "/lib/modules/`uname -r`/kernel/drivers/i2c/i2c-core.ko" ] \
		   ; then
			db_input medium libsensors3/nosensors_2.6 || true
			db_go
		fi
	fi
fi

exit 0
