#!/usr/bin/make -f
# This is fairly complicated since it can be called either to build the
# source package, or to build a kernel module package.

#export DH_VERBOSE=1

# Kernel versions to automatically build
MODULES_KERNEL_VERSIONS=2.4.27-2
PATCH_KERNEL_VERSIONS=2.4.27
KPATCHESFILE=$(CURDIR)/debian/kernel-patch-2.4-lm-sensors.kpatches

# prefix of the target package name
PACKAGE=lm-sensors
# modifieable for experiments or debugging m-a
MA_DIR ?= /usr/share/modass
# load generic variable handling
-include $(MA_DIR)/include/generic.make
# load default rules
-include $(MA_DIR)/include/common-rules.make
# location of i2c-headers
I2C_DIR ?= /usr/src

# Some magic
LMSENSORSVERSION=$(shell dpkg-parsechangelog | grep ^Version: | cut -f 2 -d ' ' | cut -f 1 -d - | cut -f 2 -d ':' )
KERNEL_BUILD_DIRS=$(foreach ver,$(MODULES_KERNEL_VERSIONS),$(wildcard /usr/src/kernel-build-$(ver)/*))
MODULES_KERNEL_SLASH_FLAVORS=$(KERNEL_BUILD_DIRS:/usr/src/kernel-build-%=%)
MODULES_KERNEL_FLAVORS=$(subst /,-,$(MODULES_KERNEL_SLASH_FLAVORS))

debian/control:
	cp debian/control.base debian/control
	for flavor in $(MODULES_KERNEL_FLAVORS); do \
	sed -e "s/_KVERS_/$$flavor/g" \
		debian/control.per-mod >> debian/control; \
        done


clean:
	dh_testdir
	dh_testroot
	
	$(MAKE) clean PROG_EXTRA=sensord
	
	rm -rf $(CURDIR)/debian/build
	rm -f $(KPATCHESFILE)
	rm -f debian/lm-sensors-*.README.Debian
	
	rm -f *-stamp
	dh_clean 


build-indep: build-indep-stamp
build-indep-stamp:
	dh_testdir

	# lm-sensors-source package
	# Copy most of the source tree into the temp directory and clean it
	find . -path ./debian/\* -type d -prune -o -print \
		| egrep -v 'RPM|CVS|debian'  \
		| cpio -admp debian/build/lm-sensors-source/usr/src/modules/lm-sensors
	mkdir debian/build/lm-sensors-source/usr/src/modules/lm-sensors/debian
	cp -f debian/*.modules.in debian/build/lm-sensors-source/usr/src/modules/lm-sensors/debian
	cp -f debian/changelog debian/build/lm-sensors-source/usr/src/modules/lm-sensors/debian
	cp -f debian/compat debian/build/lm-sensors-source/usr/src/modules/lm-sensors/debian
	cp -f debian/copyright debian/build/lm-sensors-source/usr/src/modules/lm-sensors/debian
	cp -f debian/rules debian/build/lm-sensors-source/usr/src/modules/lm-sensors/debian

	cd debian/build/lm-sensors-source/usr/src/modules/lm-sensors \
		&& $(MAKE) CC=gcc-3.3 clean

	# kernel-patch-2.4-lm-sensors
	mkdir -p debian/build/kernel-patch-2.4-lm-sensors
	echo "Patch-name: lm-sensors drivers" > $(KPATCHESFILE)
	echo "Patch-id: lm-sensors" >> $(KPATCHESFILE)
	echo "Architecture: all" >> $(KPATCHESFILE)
	echo "Path-strip-level: 1" >> $(KPATCHESFILE)
	echo >> $(KPATCHESFILE)
	
	for kvers in $(PATCH_KERNEL_VERSIONS) ; do \
		echo "Creating patches for kernel $$kvers" ; \
		tar xfj /usr/src/kernel-source-$$kvers.tar.bz2 -C $(CURDIR)/debian/build/ ; \
		zcat /usr/src/kernel-patches/diffs/i2c/kernel-$$kvers-i2c-*.patch.gz | patch -s -p1 -d $(CURDIR)/debian/build/kernel-source-$$kvers ; \
		$(CURDIR)/mkpatch/mkpatch.pl $(CURDIR) $(CURDIR)/debian/build/kernel-source-$$kvers > $(CURDIR)/debian/build/kernel-patch-2.4-lm-sensors/kernel-$$kvers-lm-sensors-$(LMSENSORSVERSION).patch ; \
		echo "Patch-file: debian/build/kernel-patch-2.4-lm-sensors/kernel-$$kvers-lm-sensors-$(LMSENSORSVERSION).patch" >> $(KPATCHESFILE) ; \
		echo "Kernel-version: $$kvers" >> $(KPATCHESFILE) ; \
		echo "Depends: i2c" >> $(KPATCHESFILE) ; \
		echo >> $(KPATCHESFILE) ; \
		echo "Testing patch for kernel $$kvers" ; \
		patch -i $(CURDIR)/debian/build/kernel-patch-2.4-lm-sensors/kernel-$$kvers-lm-sensors-$(LMSENSORSVERSION).patch -p1 -s -t -d $(CURDIR)/debian/build/kernel-source-$$kvers ; \
	done
		
	touch build-indep-stamp


# Build everything that goes into the Debian package.  Use recursive make
# invocations to build all of the interesting components.
build-arch: build-arch-stamp
build-arch-stamp:
	dh_testdir

	# binary programs and librairies
	$(MAKE) user \
		PREFIX=/usr \
		PROG_EXTRA=sensord \
		EXLDFLAGS=""

	# binary modules
ifeq ($(DEB_HOST_ARCH),i386)
	mkdir -p debian/build
	tar xzf /usr/src/i2c.tar.gz -C debian/build
	ln -s kernel $(CURDIR)/debian/build/modules/i2c/linux
	for flavor in $(MODULES_KERNEL_FLAVORS); do \
		mkdir -p debian/build/lm-sensors-$$flavor ; \
		find . -path ./debian -prune -o -print | cpio -admp debian/build/lm-sensors-$$flavor ; \
		$(MAKE) -C debian/build/lm-sensors-$$flavor all-kernel-chips all-kernel-busses \
			CC=gcc-3.3 \
			LINUX=/usr/src/kernel-headers-$$flavor \
			I2C_HEADERS=$(CURDIR)/debian/build/modules/i2c \
			MODPREF=/lib/modules/$$flavor ; \
		$(MAKE) -C debian/build/lm-sensors-$$flavor/prog/hotplug -f Makefile.p4b \
			CC=gcc-3.3 \
			LINUX=/usr/src/kernel-headers-$$flavor ; \
		cp debian/lm-sensors-_KVERS_.README.Debian.modules.in debian/lm-sensors-$$flavor.README.Debian ; \
	done
endif
	
	touch build-arch-stamp


install-indep: install-indep-stamp
install-indep-stamp: build-indep
	dh_testdir 
	dh_testroot
	dh_clean -i -k
	dh_installdirs -i

	# Pack the sources into a tarball
	mkdir -p debian/lm-sensors-source/usr/src/
	chown -R root.src debian/build/lm-sensors-source/usr/src/modules
	cd debian/build/lm-sensors-source/usr/src \
		&& tar cf - modules | gzip -9 > $(CURDIR)/debian/lm-sensors-source/usr/src/lm-sensors.tar.gz
	
	# Install the patch
	dh_installkpatches -i
	
	touch install-indep-stamp


install-arch: install-arch-stamp
install-arch-stamp: build-arch-stamp
	dh_testdir 
	dh_testroot 
	dh_clean -s -k 
	dh_installdirs -s

	$(MAKE) user_install DESTDIR=$(CURDIR)/debian/tmp PREFIX=/usr MANDIR=/usr/share/man \
		PROG_EXTRA=sensord EXLDFLAGS=""

	# Install extra files as needed
	install -m 0644 debian/sensord.logcheck debian/sensord/etc/logcheck/ignore.d.server/sensord
	install -m 0644 debian/sensord.logcheck debian/sensord/etc/logcheck/ignore.d.workstation/sensord
	install -m 0644 etc/sensors.conf.eg debian/lm-sensors/usr/share/lm-sensors/sensors.conf.eg

	# Install isadump only if it has been built (on i386 archs only)
	if [ -x prog/dump/isadump ] ; then \
	        cp -f prog/dump/isadump debian/lm-sensors/usr/sbin ; \
		mkdir -p debian/lm-sensors/usr/share/man/man8 ; \
	        cp -f prog/dump/isadump.8 debian/lm-sensors/usr/share/man/man8 ; \
	fi
	# Install isaset only if it has been built (on i386 archs only)
	if [ -x prog/dump/isaset ] ; then \
	        cp -f prog/dump/isaset debian/lm-sensors/usr/sbin ; \
		mkdir -p debian/lm-sensors/usr/share/man/man8 ; \
	        cp -f prog/dump/isaset.8 debian/lm-sensors/usr/share/man/man8 ; \
	fi

	dh_install -s --sourcedir=debian/tmp

	# binary modules
ifeq ($(DEB_HOST_ARCH),i386)
	for flavor in $(MODULES_KERNEL_FLAVORS); do \
		$(MAKE) -C debian/build/lm-sensors-$$flavor install-kernel-chips install-kernel-busses \
			CC=gcc-3.3 \
			DESTDIR=$(CURDIR)/debian/lm-sensors-$$flavor \
			LINUX=/usr/src/kernel-headers-$$flavor \
			I2C_HEADERS=$(CURDIR)/debian/build/modules/i2c \
			MODPREF=/lib/modules/$$flavor ; \
		install -m 0644 debian/build/lm-sensors-$$flavor/prog/hotplug/p4b_smbus.o debian/lm-sensors-$$flavor/lib/modules/$$flavor/kernel/drivers/i2c/busses/ ; \
	done
endif

	touch install-arch-stamp


# Build architecture-independent files here.
binary-indep: build-indep install-indep
	dh_testdir 
	dh_testroot 
	dh_installdocs -i
	dh_installchangelogs -i CHANGES
	dh_strip -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependant files that arn't kernel modules here.
binary-arch: build-arch install-arch
	dh_testdir 
	dh_testroot
	dh_installchangelogs -s CHANGES
	dh_installdocs -s -XCVS
	dh_installexamples -s -XCVS -XModule.mk
	dh_installmodules -s --name=i2c
	dh_installdebconf -s
	dh_installinit -psensord
	dh_installinit -plm-sensors --no-start -- start 36 S .  # Should start after modutils (20) and mountall (35)
	dh_installman -s
	dh_link -s
	dh_strip -s
	dh_compress -s -X.pl
	dh_fixperms -s
	dh_perl -s
	dh_makeshlibs -s -V
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary: binary-arch binary-indep
.PHONY: clean build build-indep build-arch install-indep install-arch binary-indep binary-arch binary

KMAJ=$(shell echo $(KVERS) | cut -b1-3)

.PHONY: kdist_config
kdist_config: prep-deb-files

.PHONY: binary_modules binary-modules
binary-modules: binary_modules
binary_modules: kdist_config
ifeq ($(KMAJ), 2.4)
	# Build modules
	tar xzf $(I2C_DIR)/i2c.tar.gz -C debian
	ln -s kernel $(CURDIR)/debian/modules/i2c/linux
	$(MAKE) all-kernel-busses all-kernel-chips \
		CC=gcc-3.3 \
		LINUX=$(KSRC) \
		I2C_HEADERS=$(CURDIR)/debian/modules/i2c \
		MODPREF=/lib/modules/$(KVERS)
ifeq ($(DEB_HOST_ARCH),i386)
	$(MAKE) -C prog/hotplug -f Makefile.p4b \
		CC=gcc-3.3 \
		LINUX=$(KSRC)
endif
	$(MAKE) install-kernel-chips install-kernel-busses \
		DESTDIR=$(CURDIR)/debian/lm-sensors-$(KVERS) \
		CC=gcc-3.3 \
		LINUX=$(KSRC) \
		I2C_HEADERS=$(CURDIR)/debian/modules/i2c \
		MODPREF=/lib/modules/$(KVERS)
ifeq ($(DEB_HOST_ARCH),i386)
	install -m 0644 prog/hotplug/p4b_smbus.o debian/lm-sensors-$(KVERS)/lib/modules/$(KVERS)/lm-sensors
endif
	rm -rf debian/modules
	
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installmodules
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- -v$(VERSION)
	dh_md5sums
	dh_builddeb --destdir=$(DEB_DESTDIR)
else
	@echo "This package is only useful for 2.4 kernels. For 2.6 kernels, \
		use the modules that are already in the kernel tree."	
endif


.PHONY: kdist_clean
kdist_clean:
	$(MAKE) CC=gcc-3.3 clean
	-dh_clean
